[Unit]
Description=Iniciar o transmission com parametros

[Service]
User=transmission
ExecStart=/usr/bin/transmission-daemon -c /mnt/storage/torrents -f --log-error

[Install]
WantedBy=multi-user.target
