# cat /etc/systemd/system/ap.service 
[Unit]
Description=AP
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ip link set dev wlan0 up
ExecStart=/sbin/ip addr add 192.168.2.1/24 broadcast 192.168.2.255 dev wlan0
ExecStart=/usr/bin/hostapd -B /etc/hostapd/hostapd.conf
ExecStart=/usr/sbin/dhcpd -4 -q wlan0

## esses 2 comandos abaixo, tambem desabilitas a interface do netctl-auto@
## deixei desabilitada por enquanto
#ExecStop=/sbin/ip addr flush dev wlan0
#ExecStop=/sbin/ip link set dev wlan0 down

[Install]
WantedBy=multi-user.target
